* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/* hero section */

.hero {
  background-image: url("../images/banner/banner3.png");
  height: 808px;
  width: 1600px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero > section {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 216px 230px 166px 0;
}

.hero > section > h1 {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  max-width: 525px;
  margin-bottom: 24px;
}

.hero > section > p {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 494px;
  margin-bottom: 32px;
}

.contact-us-btn {
  border-radius: 5px;
  background: #fff;
  padding: 20px 26px;
  color: #005fac;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s linear;
  border: 1px solid transparent;
}

.contact-us-btn:hover {
  background-color: #67baff;
  color: #fff;
  border: 1px solid transparent;
}

/* previous year section */

#previous-year {
  width: 1072px;
  margin: 140px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#previous-year .content {
  max-width: 416px;
  margin-top: 120px;
}

#previous-year .section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
#previous-year .section-title + p {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

#previous-year .previous-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
#previous-year .previous-info span:first-child {
  color: #16d887;
  font-size: 24px;
}
#previous-year .previous-info span:last-child {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* my plans section */
#plans {
  margin-top: 100px;
}
#plans .section-title {
  margin-bottom: 50px;
  color: #151414;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
#plans .my-plans {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#plans .plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#plans .plans .plan {
}
#plans .plans .plan img {
  display: block;
  margin: 0 auto;
}
#plans .plans .plan h4 {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
}
#plans .plans .plan p {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}
/* positive section */

#positive {
  margin: 130px 0;
}
#positive .positive-section {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  /* background-image: ; */
  background-repeat: no-repeat;
  padding: 60px 64px;
  border-radius: 8px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
}
#positive .positive-section h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  max-width: 459px;
}
#positive .positive-section button {
  padding: 21px 36px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: #fff;
  border: 0;
  margin-top: 24px;
  cursor: pointer;
}

/* footer style */

#footer {
  background: #151414;
  padding: 130px 0;
}
#footer .footer-section {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer-section .left-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#footer .footer-section .left-col .title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
}
#footer .footer-section .left-col .text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 485px;
}

#footer .footer-section .left-col :nth-child(2) {
  margin-bottom: 8px;
}

#footer .footer-section .left-col ul {
  margin-top: 16px;
  display: flex;
  gap: 20px;
}
#footer .footer-section .left-col li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#footer .footer-section .left-col li i {
  font-size: 24px;
}
#footer .footer-section .left-col li .fa-twitter {
  color: #1da1f2;
}
#footer .footer-section .left-col li .fa-facebook-f {
  color: #316ff6;
}
#footer .footer-section .left-col li .fa-youtube {
  color: #cd201f;
}

#footer .footer-section .right-col {
}
#footer .footer-section .right-col h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
#footer .footer-section .right-col input[type="email"] {
  border-radius: 8px;
  border: 1px solid #fff;
  max-width: 325px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  padding: 21px;
  margin-top: 31px;
  outline: none;
}
#footer .footer-section .right-col form {
  display: flex;
  flex-direction: column;
}
#footer .footer-section .right-col input[type="submit"] {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 36px;
  border-radius: 8px;
  background: #005fac;
  cursor: pointer;
  border: 0;
  margin-top: 16px;
  align-self: start;
}

